html { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
    background-color:rgb(41, 39, 39) ;
  }

.container {
    max-width: 250px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgb(51, 49, 49);
    background-color: rgb(41, 39, 39);
    height: 400px;
    border-radius: 10px;
}
body{
    background-color:rgb(41, 39, 39) ;
}

.button:hover {
    background-color: #323330;
    color: white;
    transition: 0.5s ease-in-out;
}
.button{
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: justify;
    width: 28.7px;
    background-color:  #323330;
    border :0;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0px 3px 3px 3px rgb(58, 57, 57);
    color: aquamarine;
}
.textbox{
    width: 100%;
    margin-top: 20px;
    height: 23px;
    border:0;
    background-color:  rgb(41, 39, 39);
    color: white;
    font-size: 30px;
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    background-color: rgb(41, 39, 39);
}
.ibutton{
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 28px;
    background-color: orangered;
    border-color:  orangered;
    height: 30px;
    border-radius:5px;
}
.ibutton:hover{
    background-color:darkred ;
    color: white;
    transition: 0.5s ease-in-out;
    height: 40px;
    
}
.ebutton{
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 28px;
    background-color: orange;
    border-color:  orange;
    height: 30px;
    border-radius:5px;
    box-shadow: 0px 0px 1px 2px rgb(71, 71, 71);
}
.ebutton:hover{
    background-color: darkorange;
    color: black;
    transition: 0.5s ease-in-out;
    height: 40px;
}
.dbutton{
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 40px;
    background-color: red;
    border-color:  red;
    height: 30px;
    border-radius: 5px;

    box-shadow: 0px 0px 1px 2px rgb(71, 71, 71); 
}
.dbutton:hover{
    background-color: darkred;
    color: black;
    transition: 0.5s ease-in-out;
    width: 60px;
}
footer{
    text-align: center;
    margin-top: 20px;
    background-color:rgb(41, 39, 39) ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    font-size: small;
}

@media screen and (min-width: 700px) {
    .button{
        font-size: 25;
    }
    .ebutton{
        font-size: 25;
    }
    .ibutton{
        font-size: 25;
    }
        
    }
    @media screen and (max-width: 699px) {

        .button {
        
        font-size: 16px;
        
        }
        .ebutton{
            font-size: 16px;
        }
        .ibutton{
            font-size: 16px;
        }
        
        }